* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav img {
  margin-left: 50px;
}

.open ul {
  display: flex;
  margin: 20px 20px 30px;
  justify-content: center;
  display: inline-block;
}

.open ul li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
}

.open ul li a {
  color: black;
  margin: 0 20px;
  transition: 0.5s;
}

h1,
h2 {
  font-family: sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.first {
  padding: 15px 40px;
  background: #7fc142;
  font-weight: bold;
  color: white;
}

.home {
  height: auto;
  position: relative;
  color: white;
}

.banner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}

.banner .text {
  position: absolute;
  top: 40%;
  left: 5%;
}

.banner .text h1 {
  font-size: 80px;
  font-family: serif;
  font-weight: 400;
}

.banner p {
  font-size: 20px;
  margin: 20px 0;
}

.left,
.right {
  margin-left: 200px 80px 20px;
  width: 50%;
  padding: 30px;
}

.left h2 {
  margin: 30px 0;
  font-size: 45px;
  font-family: serif;
  font-weight: 400;
}

.about .first {
  margin: 20px 0;
}

.about p {
  font-size: 15px;
}

.about {
  display: flex;
}

.services {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background: #f4f4f4;
}

.service-box {
  width: 30%;
  text-align: center;
}

.service-box img {
  width: 100%;
  border-radius: 8px;
}

.gallery {
  text-align: center;
  padding: 70px 8%;
  background: #f5f5f5;
}

.gallery h2 {
  margin-bottom: 25px;
  font-size: 45px;
}

.gallery p {
  color: grey;
  margin-bottom: 40px;
  font-size: 18px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.grid img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.grid img:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

@media(max-width:768px) {
  .gallery h2 {
    font-size: 32px;
  }
}

.menu {
  padding: 50px 20px;
  text-align: center;
}

.menu .text {
  margin: 40px 0 40px;
  font-size: 40px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: auto;
}

.menu-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.menu-card:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.menu-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.menu-info {
  padding: 15px;
}

.menu-info h3 {
  margin: 8px 0;
  font-size: 18px;
  color: #333;
}

.price {
  color: #e67e22;
  font-weight: bold;
  font-size: 16px;
}

.contact {
  margin-top: 25px;
  padding: 50px 20px;
  text-align: center;
  background-color: black;
  color: black;
}

.contact h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: white;
}

.contact-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-info {
  flex: 1;
  min-width: 280px;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.contact-info h3 {
  margin-bottom: 15px;
}

.contact-info p {
  margin: 10px 0;
  font-size: 15px;
}

.contact-form {
  flex: 1;
  min-width: 280px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid;
  font-size: 14px;
}

textarea {
  height: 100px;
  resize: none;
}

button {
  background: #2c7be5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #1a5fd1;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
}